@font-face {
  font-family: 'OpenSansCondensedBold';
  src: local('OpenSansCondensedBold'), local('OpenSansCondensedBold'),
      url('../fonts/Open-Sans-Condensed/OpenSansCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLight';
  src: local('OpenSansCondensedLight'), local('OpenSansCondensedLight'),
      url('../fonts/Open-Sans-Condensed/OpenSansCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLightItalic';
  src: local('OpenSansCondensedLightItalic'), local('OpenSansCondensedLightItalic'),
      url('../fonts/Open-Sans-Condensed/OpenSansCondensed-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}