/*
Theme Name: AFHP Theme
Text Domain: default
Domain Path: /languages
Version: 1.0
Description: Artsakh Free Homeland Party Official WordPress Theme
Tags: Artsakh, Free Homeland, blog, news
Author: SkyTech Studio
Author URI: https://sky-tech.org/
Theme URI: #
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)
*/

#adminmenu .menu-icon-structure .wp-menu-image img {
  height: 25px;

  padding: 5px 0;
}