@font-face {
  font-family: 'ArTarumianAnpuit';
  src: local('ArTarumianAnpuit'), local('ArTarumianAnpuit'),
      url('../fonts/ArTarumianAnpuit/ArTarumianAnpuit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}