#adminmenu .menu-icon-team .wp-menu-image img,
#adminmenu .menu-icon-gallery .wp-menu-image img,
#adminmenu .menu-icon-mission .wp-menu-image img,
#adminmenu .menu-icon-playlist .wp-menu-image img,
#adminmenu .menu-icon-structure .wp-menu-image img,
#adminmenu .menu-icon-discussion .wp-menu-image img,
#adminmenu .menu-icon-activity .wp-menu-image img {
  height: 25px;

  padding: 5px 0;
}

.wp-picker-container {
  z-index: 1;
  position: relative;
}

.afhp_full__width {
  width: 100%;
}

.afhp_field--file {
  position: relative;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex !important;

  width: 100%;
  height: 200px;
  max-width: 200px;

  padding: 2px !important;

  overflow: hidden;

  border: 1px solid #ddd;
  background-color: #f9f9f9;

  cursor: pointer;

  transition: border-color .25s;
}

.afhp_field--file.field--file__ajax {
  height: 150px;
}

.afhp_field--file input {
  display: none;
}

.afhp_field--file {
  background-size: 30px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/svg/picture.svg');
}

.afhp_field--file img {
  max-width: 100%;
  max-height: 100%;
}

.afhp_field--file:hover {
  border-color: #999;
}

.afhp_field--file a.remove {
  top: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.afhp_thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.afhp_voting__metabox {

}

.afhp_voting__metabox label {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 10px;
}

.afhp_voting__metabox label i {
  top: 1px;
  right: 2px;
  bottom: 1px;
  position: absolute;

  width: 23px;

  background: #191e23;

  color: #fff;
  line-height: 23px;
  text-align: center;
}

.afhp_voting__metabox label span {
  margin-right: 15px;
}

.afhp_voting__metabox label input:not([type="checkbox"]) {
  flex: 1;
}

#afhp_resource__add {
  display: block;

  width: max-content;

  margin-left: auto;
}

.afhp_resource {
  margin-top: 20px;

  border-bottom: 1px solid #eee;
}

.afhp_resource .label {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 10px;
}

.afhp_resource .label span {
  flex: 0 0 100%;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  margin-bottom: 5px;
}

.afhp_resource .label input {
  flex: 1;
}

.afhp_resource .label button {
  flex: 0 0 auto;
}