@charset "UTF-8";
@font-face {
  font-family: 'Arial AMU';
  src: local("Arial AMU"), local("Arial AMU"), url("../fonts/Arial-AMU/Arial-AMU-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: local("DejaVu-Sans"), local("DejaVu-Sans"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Italic';
  src: local("DejaVu-Sans-Italic"), local("DejaVu-Sans-Italic"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Bold';
  src: local("DejaVu-Sans-Bold"), local("DejaVu-Sans-Bold"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Bold Italic';
  src: local("DejaVu-Sans-Bold-Italic"), local("DejaVu-Sans-Bold-Italic"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Bold-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Light';
  src: local("DejaVu-Sans-Light-ExtraLight"), local("DejaVu-Sans-Light-ExtraLight"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Light-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  src: local("DejaVu-Sans-Condensed-Regular"), local("DejaVu-Sans-Condensed-Regular"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Condensed Italic';
  src: local("DejaVu-Sans-Condensed-Regular-Italic"), local("DejaVu-Sans-Condensed-Regular-Italic"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Condensed Bold';
  src: local("DejaVu-Sans-Condensed-Bold"), local("DejaVu-Sans-Condensed-Bold"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Condensed Bold Italic';
  src: local("DejaVu-Sans-Condensed-Bold-Italic"), local("DejaVu-Sans-Condensed-Bold-Italic"), url("../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Bold-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SenzorgaAnhok';
  src: local("SenzorgaAnhok"), local("SenzorgaAnhok"), url("../fonts/SenzorgaAnhok/SenzorgaAnhok-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: local("DejaVu-Sans"), local("DejaVu-Sans"), url("../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono Italic';
  src: local("DejaVu-Sans-Italic"), local("DejaVu-Sans-Italic"), url("../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono Bold';
  src: local("DejaVu-Sans-Bold"), local("DejaVu-Sans-Bold"), url("../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono Bold Italic';
  src: local("DejaVu-Sans-Bold-Italic"), local("DejaVu-Sans-Bold-Italic"), url("../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Bold-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArTarumianAnpuit';
  src: local("ArTarumianAnpuit"), local("ArTarumianAnpuit"), url("../fonts/ArTarumianAnpuit/ArTarumianAnpuit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: local("Anton"), local("Anton"), url("../fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Regular';
  src: local("DancingScript-Regular"), local("DancingScript-Regular"), url("../fonts/Dancing/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Medium';
  src: local("DancingScript-Medium"), local("DancingScript-Medium"), url("../fonts/Dancing/DancingScript-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Bold';
  src: local("DancingScript-Bold"), local("DancingScript-Bold"), url("../fonts/Dancing/DancingScript-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-SemiBold';
  src: local("DancingScript-SemiBold"), local("DancingScript-SemiBold"), url("../fonts/Dancing/DancingScript-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-VariableFont_wght';
  src: local("DancingScript-VariableFont_wght"), local("DancingScript-VariableFont_wght"), url("../fonts/Dancing/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Long-Cang';
  src: local("Long-Cang"), local("Long-Cang"), url("../fonts/Long-Cang/LongCang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedBold';
  src: local("OpenSansCondensedBold"), local("OpenSansCondensedBold"), url("../fonts/Open-Sans-Condensed/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLight';
  src: local("OpenSansCondensedLight"), local("OpenSansCondensedLight"), url("../fonts/Open-Sans-Condensed/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLightItalic';
  src: local("OpenSansCondensedLightItalic"), local("OpenSansCondensedLightItalic"), url("../fonts/Open-Sans-Condensed/OpenSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.background--loading:not(.background--loading--loaded) .lelement, .structure__content:not(.background--loading--loaded) .lelement {
  background: #F6F6F6;
  background-size: 100% 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #F6F6F6), color-stop(18%, #F0F0F0), color-stop(33%, #F6F6F6));
  background: -o-linear-gradient(left, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  color: transparent !important;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: loadingBackground;
  animation-name: loadingBackground;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.background--loading:not(.background--loading--loaded) .lelement > *, .structure__content:not(.background--loading--loaded) .lelement > * {
  opacity: 0 !important;
}

@-webkit-keyframes loadingBackground {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes loadingBackground {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

html[lang="hy-AM"] body {
  font-family: "Arial AMU";
}

html[lang="hy-AM"] a {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] a {
  font-family: "OpenSansCondensedBold";
}

* {
  min-width: 0;
  min-height: 0;
}

body {
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

.container {
  padding-left: 6px;
  padding-right: 6px;
}

.row {
  margin-left: -6px;
  margin-right: -6px;
}

.col, .col-1, .col-10, .col-11,
.col-12, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1,
.col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-auto, .col-md, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-auto, .col-sm,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2,
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 6px;
  padding-right: 6px;
}

input {
  max-width: 100%;
}

.lazy {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

img.lazy,
.image--placeholder img.lazy--loaded {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px !important;
  height: 50px !important;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.svg {
  display: inline-block;
}

.svg--icon {
  width: 30px;
  height: 30px;
  color: #B355AD;
}

.svg--defs {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (max-width: 992px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.wrapper__menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 20;
  width: 100%;
  max-width: 300px;
  min-height: 100vh;
  background-color: white;
  border-right: 1px solid #EFEFEF;
}

@media screen and (min-width: 1550px) {
  .wrapper__menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    max-width: 400px;
  }
}

@media screen and (max-width: 992px) {
  .wrapper__menu {
    max-width: 100%;
    min-height: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.wrapper__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 992px) {
  .wrapper__content {
    width: 100%;
  }
}

.admin-bar .wrapper__menu {
  top: 0;
}

@media screen and (min-width: 601px) {
  .admin-bar .wrapper__menu {
    top: 46px;
  }
}

@media screen and (min-width: 783px) {
  .admin-bar .wrapper__menu {
    top: 32px;
  }
}

.overlay {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.overlay--dark {
  background: rgba(0, 0, 0, 0.5);
}

.overlay--category {
  background: rgba(0, 0, 0, 0.2);
}

.overlay--gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0, 0, 0, 0.15)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 15%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 15%, #000000 100%);
}

.overlay--gradient-dark-low {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.ps {
  touch-action: auto;
  overflow-anchor: none;
  -ms-touch-action: auto;
  -ms-overflow-style: none;
  overflow: hidden !important;
}

.ps__rail-x {
  bottom: 0px;
  position: absolute;
  display: none;
  height: 15px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
}

.ps__rail-y {
  right: 0;
  position: absolute;
  display: none;
  width: 15px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  opacity: 0.9;
  background-color: #eee;
}

.ps__thumb-x {
  bottom: 2px;
  position: absolute;
  height: 6px;
  border-radius: 6px;
  background-color: #aaa;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s ease-in-out;
  transition: background-color .2s linear, height .2s ease-in-out;
}

.ps__thumb-y {
  right: 2px;
  position: absolute;
  width: 6px;
  border-radius: 6px;
  background-color: #aaa;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  -o-transition: background-color .2s linear, width .2s ease-in-out;
  transition: background-color .2s linear, width .2s ease-in-out;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  height: 11px;
  background-color: #999;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 11px;
  background-color: #999;
}

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

html[lang="hy-AM"] section .section__heading {
  font-family: "SenzorgaAnhok";
}

html[lang="en-US"] section .section__heading {
  font-family: "Anton";
}

section {
  padding: 45px 0;
}

section.section--primary {
  color: #B355AD;
}

section.section--secondary {
  color: #D44C32;
}

section.section--flag__1 {
  color: #F0030C;
}

section.section--flag__2 {
  color: #0333CA;
}

section.section--flag__3 {
  color: #FF6504;
}

section.section--white {
  color: white;
}

section .section__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
  color: inherit;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  section .section__heading {
    font-size: 35px;
    line-height: 37px;
  }
}

section .section__heading > span {
  color: black;
}

section .section__heading .heading__underline {
  width: 60px;
  border-bottom: 2px solid;
  color: inherit;
}

article {
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  article {
    font-size: inherit;
  }
}

article .article__heading {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 576px) {
  article .article__heading {
    font-size: 24px;
  }
}

.menu .menu__header {
  padding: 20px;
  background: -o-radial-gradient(50% 50%, 67.52% 1269.69%, #B355AD 0%, #D44C32 100%);
  background: radial-gradient(67.52% 1269.69% at 50% 50%, #B355AD 0%, #D44C32 100%);
}

@media screen and (max-width: 992px) {
  .menu .menu__header {
    padding: 12px;
  }
}

.menu .menu__header .header__icon {
  display: none;
  width: 35px;
  height: 24px;
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .menu .menu__header .header__icon {
    display: block;
  }
}

.menu .menu__header .header__logo {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 576px) {
  .menu .menu__header .header__logo {
    width: 57px;
    height: 57px;
  }
}

.menu .menu__header .header__logo a {
  display: block;
}

.menu .menu__header .header__lang .lang__item {
  margin-left: 15px;
  text-decoration: none;
  color: #B69DB8;
}

.menu .menu__header .header__lang .lang__item:hover {
  color: #ECDEED;
}

.menu .menu__header .header__lang .lang__item--current {
  color: white;
}

html[lang="hy-AM"] .menu__footer .footer__heading {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] .menu__footer .footer__heading {
  font-family: "OpenSansCondensedBold";
}

.menu__footer {
  padding: 15px;
}

@media screen and (max-width: 992px) {
  .menu__footer {
    position: relative;
    background: #fff;
  }
}

.menu__footer .advertisement {
  min-height: 350px;
}

.menu__footer .footer__heading {
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  color: #D44C32;
}

.menu__footer .footer__content {
  padding-top: 10px;
}

@media screen and (max-width: 992px) {
  .menu__navigation {
    position: relative;
  }
}

.menu__navigation ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  list-style: none;
  color: #B69DB8;
}

@media screen and (min-width: 576px) {
  .menu__navigation ul {
    font-size: 16px;
  }
}

@media screen and (min-width: 1550px) {
  .menu__navigation ul {
    font-size: 22px;
  }
}

.menu__navigation > ul > li {
  margin: 1px;
  padding: 10px 10px;
  background-color: rgba(236, 222, 237, 0.15);
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

@media screen and (min-width: 1550px) {
  .menu__navigation > ul > li {
    padding: 10px 15px;
  }
}

.menu__navigation > ul > li:hover {
  background-color: rgba(236, 222, 237, 0.5);
}

.menu__navigation > ul > li.current-menu-item {
  background-color: #ECDEED;
}

.menu__navigation > ul > li ul {
  display: none;
  padding-left: 40px;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
}

@media screen and (min-width: 576px) {
  .menu__navigation > ul > li ul {
    font-size: 15px;
  }
}

@media screen and (min-width: 1550px) {
  .menu__navigation > ul > li ul {
    font-size: 18px;
    line-height: 30px;
    padding-left: 50px;
  }
}

.menu__navigation > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.menu__navigation > ul li a:hover {
  color: #B355AD;
}

.menu__navigation > ul li a > *:not(.svg--icon) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu__navigation > ul li a .svg--icon {
  color: inherit;
}

.menu__navigation > ul li a .svg--icon.icon--menu {
  margin-right: 10px;
}

@media screen and (min-width: 1550px) {
  .menu__navigation > ul li a .svg--icon.icon--menu {
    margin-right: 20px;
  }
}

.menu__navigation > ul li a .svg--icon.svg--next {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media screen and (min-width: 576px) {
  .menu__navigation > ul li a .svg--icon.svg--next {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
}

.menu__navigation > ul li a .svg--icon.svg--next:hover {
  background-color: #ECDEED;
}

.menu__navigation > ul li.current-menu-item > a, .menu__navigation > ul li.current-menu-ancestor > a {
  color: #B355AD;
}

.menu__navigation > ul li.menu-item--open > ul, .menu__navigation > ul li.current-menu-item > ul, .menu__navigation > ul li.current-menu-ancestor > ul {
  display: block;
}

.menu__navigation > ul li.menu-item--open .svg--next, .menu__navigation > ul li.current-menu-item .svg--next, .menu__navigation > ul li.current-menu-ancestor .svg--next {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu__body {
  position: relative;
  max-height: calc(100vh - 97px);
}

@media screen and (max-width: 992px) {
  .menu__body {
    top: 0;
    left: -100%;
    position: fixed;
    background: #fff;
    height: 100%;
    width: 80%;
    max-height: 100%;
    -webkit-transition: left .25s;
    -o-transition: left .25s;
    transition: left .25s;
    overflow-x: hidden;
    z-index: 100;
  }
}

@media screen and (max-width: 768px) {
  .menu__body {
    width: 90%;
  }
}

.admin-bar .menu__body {
  top: 46px;
  max-height: calc(100vh - 97px - 46px);
}

@media screen and (min-width: 783px) {
  .admin-bar .menu__body {
    top: 32px;
  }
}

@media screen and (min-width: 991px) {
  .admin-bar .menu__body {
    top: 0;
    max-height: calc(100vh - 97px);
  }
}

.menu .overlay {
  display: none;
}

.menu.open .menu__body {
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu.open .overlay {
  position: fixed;
  display: block;
}

.modal-open .admin-bar {
  z-index: 9;
}

header.header {
  position: relative;
  background: -o-radial-gradient(50% 50%, 100.17% 128.79%, #B355AD 0%, #D44C32 100%);
  background: radial-gradient(100.17% 128.79% at 50% 50%, #B355AD 0%, #D44C32 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  header.header {
    height: 508px;
    background-image: url("../img/header/background.jpg");
  }
}

@media screen and (max-width: 992px) {
  header.header .container {
    max-width: 100%;
  }
}

header.header .container .row .col--person {
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: auto;
  max-width: 200px;
}

@media screen and (min-width: 992px) {
  header.header .container .row .col--person {
    max-width: 250px;
  }
}

@media screen and (min-width: 1200px) {
  header.header .container .row .col--person {
    max-width: 372px;
  }
}

header.header .container .row .col--person img {
  max-width: 100%;
  max-height: 100%;
}

header.header .container .row .col--blockquote {
  z-index: 11;
  margin-bottom: 20px;
}

html[lang="hy-AM"] .footer__top .heading {
  font-family: "SenzorgaAnhok";
}

html[lang="hy-AM"] .footer__top .logo__text {
  font-family: "DejaVu Sans";
}

html[lang="hy-AM"] .footer__top input input,
html[lang="hy-AM"] .footer__top textarea input {
  font-family: "DejaVu Sans";
}

html[lang="hy-AM"] .footer__bottom .copyright {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] .footer__top .heading {
  font-family: "Anton";
}

html[lang="en-US"] .footer__top .logo__text {
  font-family: "OpenSansCondensedBold";
}

html[lang="en-US"] .footer__top input input,
html[lang="en-US"] .footer__top textarea input {
  font-family: "OpenSansCondensedBold";
}

html[lang="en-US"] .footer__bottom .copyright {
  font-family: "OpenSansCondensedBold";
}

.footer {
  color: #fff;
  background-color: black;
}

.footer__top {
  padding: 30px 0;
}

@media screen and (min-width: 992px) {
  .footer__top {
    padding: 45px 0;
  }
}

.footer__top .heading {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 15px;
}

.footer__top .row--footer {
  margin-left: -6px;
  margin-right: -6px;
}

.footer__top .col--footer {
  padding: 0 6px;
  margin-bottom: 50px;
}

.footer__top .col--location {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer__top .col--location {
    max-width: 468px;
  }
}

.footer__top .col--form {
  max-width: 312px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer__top .col--form {
    max-width: 372px;
  }
}

.footer__top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.footer__top .logo img {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 992px) {
  .footer__top .logo img {
    width: 80px;
    height: 80px;
  }
}

.footer__top .logo__text {
  margin-left: 10px;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 992px) {
  .footer__top .logo__text {
    font-size: 20px;
    line-height: 23px;
  }
}

.footer__top .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
}

@media screen and (min-width: 992px) {
  .footer__top .contact {
    font-size: 15px;
    line-height: 30px;
  }
}

.footer__top .contact a {
  color: inherit;
}

.footer__top .social {
  margin-top: 15px;
}

.footer__top .social a {
  color: inherit;
  text-decoration: none;
}

.footer__top .social a img {
  display: inline-block;
  margin-right: 10px;
}

.footer__top .location {
  height: 300px;
}

.footer__top input,
.footer__top textarea {
  padding: 10px;
  outline: none;
}

.footer__top input input,
.footer__top textarea input {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #F9F9F9;
}

.footer__middle {
  background-color: #111;
  padding: 20px 0 0 0;
}

@media screen and (min-width: 992px) {
  .footer__middle {
    padding: 40px 0 0 0;
  }
}

.footer__middle .col {
  margin-bottom: 40px;
}

.footer__middle .footer-nav__heading {
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 15px;
}

.footer__middle ul.menu {
  list-style: none;
  padding: 0;
}

.footer__middle ul.menu li a {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}

.footer__middle ul.menu li + li {
  margin-top: 10px;
}

.footer__bottom {
  background-color: #222;
  padding: 15px 0;
}

.footer__bottom .copyright {
  font-style: normal;
  text-align: center;
  font-weight: 200;
  color: #B4B4B4;
}

.footer__bottom .copyright .copyright__text {
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (min-width: 576px) {
  .footer__bottom .copyright .copyright__text {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__bottom .copyright .copyright__made-by {
  margin-top: 10px;
  font-size: 11px;
  line-height: 13px;
}

.footer__bottom .copyright .copyright__made-by a {
  color: #0d8baf;
}

@media screen and (min-width: 576px) {
  .footer__bottom .copyright .copyright__made-by {
    font-size: 13px;
    line-height: 15px;
  }
}

html[lang="hy-AM"] .header__top .row .header__logo {
  font-family: "DejaVu Sans Mono";
}

html[lang="hy-AM"] .header__top .row .header__search .search__input input {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] .header__top .row .header__logo {
  font-family: "OpenSansCondensedBold";
}

html[lang="en-US"] .header__top .row .header__search .search__input input {
  font-family: "OpenSansCondensedBold";
}

.header__top {
  padding: 10px 0;
  background-color: #fff;
}

.header__top .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .header__top .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.header__top .row .col--search {
  width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 576px) {
  .header__top .row .col--search {
    width: auto;
    margin: 0;
  }
}

.header__top .row .header__logo {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 29px;
  color: #D44C32;
}

.header__top .row .header__search {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .header__top .row .header__search {
    max-width: 370px;
  }
}

.header__top .row .header__search .search__input {
  position: relative;
}

.header__top .row .header__search .search__input input {
  padding: 10px 20px;
  width: 100%;
  background: #F9F9F9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #EFEFEF;
  border-radius: 44px;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}

.header__top .row .header__search .search__input input::-webkit-input-placeholder {
  color: #CDCDCD;
  text-transform: uppercase;
}

.header__top .row .header__search .search__input input::-moz-placeholder {
  color: #CDCDCD;
  text-transform: uppercase;
}

.header__top .row .header__search .search__input input:-ms-input-placeholder {
  color: #CDCDCD;
  text-transform: uppercase;
}

.header__top .row .header__search .search__input input::-ms-input-placeholder {
  color: #CDCDCD;
  text-transform: uppercase;
}

.header__top .row .header__search .search__input input::placeholder {
  color: #CDCDCD;
  text-transform: uppercase;
}

.header__top .row .header__search .search__input .input__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: -o-linear-gradient(45deg, rgba(179, 85, 173, 0.6) 0%, rgba(212, 76, 50, 0.6) 100%);
  background: linear-gradient(45deg, rgba(179, 85, 173, 0.6) 0%, rgba(212, 76, 50, 0.6) 100%);
}

.header__top .row .header__search .search__input .input__button .svg--search {
  width: 24px;
  height: 24px;
}

html[lang="hy-AM"] .header__bottom {
  font-family: "DejaVu Sans Mono";
}

html[lang="en-US"] .header__bottom {
  font-family: "OpenSansCondensedBold";
}

.header__bottom {
  padding: 10px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.header__bottom .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__bottom .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header__bottom .header__weather svg,
.header__bottom .header__weather .weather__icon {
  width: 30px;
  height: 30px;
}

.header__bottom .header__weather .weather__item {
  margin-left: 5px;
}

.header__bottom .header__weather .weather__item--hot {
  color: #D44C32;
}

.header__bottom .header__weather .weather__item--cold {
  color: #0092E4;
}

.header__bottom .header__exchange {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .header__bottom .header__exchange {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .header__bottom .header__exchange .exchange__item {
    font-size: 10px;
  }
}

.header__bottom .header__exchange .exchange__item .item__currency {
  font-weight: bold;
}

.header__bottom .header__exchange .exchange__item .item__value {
  margin-left: 5px;
}

.header__bottom .header__exchange .exchange__item + .exchange__item {
  margin-left: 10px;
}

@media screen and (min-width: 576px) {
  .header__bottom .header__exchange .exchange__item + .exchange__item {
    margin-left: 20px;
  }
}

header.header--blog {
  background-color: #EFEFEF;
}

html[lang="hy-AM"] aside.sidebar--blog .widget__title {
  font-family: "SenzorgaAnhok";
}

html[lang="en-US"] aside.sidebar--blog .widget__title {
  font-family: "Anton";
}

aside.sidebar--blog {
  padding: 0 6px 45px 6px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  aside.sidebar--blog {
    padding: 0 6px 45px 6px;
  }
}

aside.sidebar--blog .widget {
  padding-top: 45px;
}

aside.sidebar--blog .widget img {
  width: 100%;
}

aside.sidebar--blog .widget__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

aside.sidebar--blog .widget--adme {
  position: relative;
}

aside.sidebar--blog .widget--adme .adme__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #FEFEFE;
  background-color: #D44C32;
}

aside.sidebar--blog .widget--advertising {
  height: 300px;
}

html[lang="hy-AM"] .advertisement__text {
  font-family: "DejaVu Sans Mono";
}

html[lang="en-US"] .advertisement__text {
  font-family: "OpenSansCondensedBold";
}

.advertisement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-color: #efefef;
  background-position: center;
  background-repeat: no-repeat;
}

.advertisement__text {
  max-width: 100%;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

html[lang="hy-AM"] .post__date {
  font-family: "DejaVu Sans Light";
}

html[lang="hy-AM"] .post__category {
  font-family: "DejaVu Sans";
}

html[lang="hy-AM"] .post--thumbnail {
  font-family: "Arial AMU";
}

html[lang="en-US"] .post__date {
  font-family: "OpenSansCondensedBold";
}

html[lang="en-US"] .post__category {
  font-family: "OpenSansCondensedBold";
}

.post {
  position: relative;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.post__date {
  display: block;
  font-size: 11px;
  font-weight: 200;
  line-height: 13px;
  font-style: normal;
}

@media screen and (min-width: 992px) {
  .post__date {
    font-size: 14px;
    line-height: 16px;
  }
}

.post--default {
  background-color: white;
}

.post--default .post__thumbnail {
  max-height: 200px;
}

@media screen and (min-width: 576px) {
  .post--default .post__thumbnail {
    max-height: 300px;
  }
}

.post--default:hover {
  -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.post__thumbnail {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.post__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.post__content {
  padding: 10px 10px 10px 0;
}

.post__category {
  top: 0;
  left: 0;
  position: absolute;
  padding: 2px 4px;
  background-color: #EFEFEF;
  color: white;
  font-size: 10px;
  font-weight: 200;
  line-height: 12px;
  text-transform: lowercase;
}

.post__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #222222;
  margin: 0;
}

@media screen and (min-width: 992px) {
  .post__title {
    font-size: 18px;
    line-height: 20px;
  }
}

.post__title a {
  color: inherit;
  text-decoration: none;
}

.post__excerpt {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #555;
}

@media screen and (min-width: 992px) {
  .post__excerpt {
    font-size: 14px;
    line-height: 16px;
  }
}

.post__date {
  margin-top: 10px;
}

.post--slider {
  height: 350px;
  outline: none !important;
}

@media screen and (min-width: 576px) {
  .post--slider {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .post--slider {
    height: 450px;
  }
}

@media screen and (min-width: 992px) {
  .post--slider {
    height: 563px;
  }
}

.post--slider .post__content {
  left: 0;
  bottom: 0;
  z-index: 11;
  position: absolute;
  padding: 15px;
  color: white;
}

@media screen and (min-width: 1200px) {
  .post--slider .post__content {
    padding: 25px 30px;
  }
}

.post--slider .post__title {
  color: white;
  font-weight: normal;
}

.post--slider .post__excerpt {
  margin-top: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.post--slider .post__date {
  margin-top: 15px;
}

.post--thin {
  background-color: #F9F9F9;
}

.post--thin:hover {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.post--thin .post__thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 84px;
  flex: 0 0 84px;
  width: auto;
  height: auto;
}

.post--thin .post__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 5px 5px 5px 15px;
  overflow: hidden;
}

.post--thin .post__date {
  margin: 0 0 5px 0;
}

.post--thin .post__title {
  height: 47px;
  color: #222222;
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 15px;
}

.post--thin .post__title a {
  color: inherit;
}

@media screen and (min-width: 576px) {
  .post--thin .post__title {
    height: 60px;
  }
}

.post--thin .post__group {
  top: 5px;
  left: 5px;
  z-index: 2;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.post--thumbnail {
  position: relative;
  display: block;
  overflow: hidden;
}

.post--thumbnail .post__thumbnail {
  height: 255px;
}

.post--thumbnail .post__content {
  bottom: 0;
  z-index: 11;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
}

.post--thumbnail .post__title {
  color: #fff;
  font-weight: normal;
}

.post--thumbnail .post__excerpt {
  color: rgba(255, 255, 255, 0.8);
}

.post--thumbnail .post__date {
  color: #fff;
}

.post--thumbnail.post--ready .post__hidden {
  overflow: hidden;
  -webkit-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
}

.post--thumbnail.post--ready:not(:hover) .post__hidden {
  height: 0 !important;
}

.carousel__arrow {
  top: 50%;
  z-index: 12;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  outline: none !important;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.carousel__arrow[aria-disabled="true"] {
  display: none;
}

.carousel__arrow:hover {
  background-color: #000;
}

.carousel__arrow svg {
  width: 30px;
  height: 30px;
}

.carousel__arrow--prev {
  left: 0;
}

.carousel__arrow--prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.carousel__arrow--next {
  right: 0;
}

.radio {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}

.radio input {
  display: none;
}

.radio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 80px;
  min-height: 30px;
  padding: 10px;
  background: #C4C4C4;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

@media screen and (min-width: 768px) {
  .radio__wrapper {
    padding: 10px 15px;
  }
}

.radio:hover .radio__wrapper {
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}

.radio input:checked + .radio__wrapper {
  -webkit-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.25);
}

.radio__virtual {
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #FCFCFC;
}

.radio input:checked + .radio__wrapper .radio__virtual::after {
  content: '';
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.radio__text {
  color: white;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .radio__text {
    font-size: 22px;
    line-height: 25px;
  }
}

html[lang="hy-AM"] .button {
  font-family: "SenzorgaAnhok";
}

html[lang="en-US"] .button {
  font-family: "Anton";
}

.button {
  position: relative;
  display: inline-block;
  height: 40px;
  min-width: 160px;
  outline: none !important;
  background-color: transparent;
  border: 1px solid #EFEFEF;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #c4c4c4;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transition: background-color .25s, color .3s;
  -o-transition: background-color .25s, color .3s;
  transition: background-color .25s, color .3s;
}

@media screen and (min-width: 576px) {
  .button {
    min-width: 160px;
  }
}

.button--primary {
  color: #B355AD;
  border-color: #B355AD;
}

.button--secondary {
  color: #D44C32;
  border-color: #D44C32;
}

.button--flag__1 {
  color: #F0030C;
  border-color: #F0030C;
}

.button--flag__2 {
  color: #0333CA;
  border-color: #0333CA;
}

.button--flag__3 {
  color: #FF6504;
  border-color: #FF6504;
}

.button:hover {
  border-color: #c4c4c4;
  background-color: #c4c4c4;
  color: white;
  text-decoration: none;
}

.button--primary:hover {
  border-color: #B355AD;
  background-color: #B355AD;
}

.button--secondary:hover {
  border-color: #D44C32;
  background-color: #D44C32;
}

.button--flag__1:hover {
  border-color: #F0030C;
  background-color: #F0030C;
}

.button--flag__2:hover {
  border-color: #0333CA;
  background-color: #0333CA;
}

.button--flag__3:hover {
  border-color: #FF6504;
  background-color: #FF6504;
}

.button--icon {
  height: 60px;
  line-height: 60px;
}

.button--icon svg.svg {
  position: absolute;
  top: 0;
  left: 20px;
  width: 40px;
  height: 100%;
}

.button--more {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 160px;
}

.button--more .button__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button--more .button__content i {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.button--more.button--primary .button__content i {
  background-color: #B355AD;
}

.button--more.button--secondary .button__content i {
  background-color: #D44C32;
}

.button--more.button--flag__1 .button__content i {
  background-color: #F0030C;
}

.button--more.button--flag__2 .button__content i {
  background-color: #0333CA;
}

.button--more.button--flag__3 .button__content i {
  background-color: #FF6504;
}

.button--more:hover .button__content i {
  background-color: white;
}

.button--more.button--loading {
  border-color: #c4c4c4;
  background-color: #c4c4c4;
  pointer-events: none;
  opacity: .75;
}

.button--more.button--loading .button__content i {
  background-color: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: MoreButtonLoading;
  animation-name: MoreButtonLoading;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.button--more.button--loading .button__content i:nth-child(2) {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

.button--more.button--loading .button__content i:nth-child(3) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.button--more.button--loading.button--primary {
  border-color: #B355AD;
  background-color: #B355AD;
}

.button--more.button--loading.button--secondary {
  border-color: #D44C32;
  background-color: #D44C32;
}

.button--more.button--loading.button--flag__1 {
  border-color: #F0030C;
  background-color: #F0030C;
}

.button--more.button--loading.button--flag__2 {
  border-color: #0333CA;
  background-color: #0333CA;
}

.button--more.button--loading.button--flag__3 {
  border-color: #FF6504;
  background-color: #FF6504;
}

.button--squire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #D44C32;
  border-color: #D44C32;
  font-size: 35px;
  line-height: 37px;
  min-height: 200px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1300px) {
  .button--squire {
    min-height: 250px;
  }
}

.button--squire-alt {
  border: none;
  color: #fff;
  background: -o-linear-gradient(1.96deg, #B355AD 0.58%, #D44C32 99.42%);
  background: linear-gradient(88.04deg, #B355AD 0.58%, #D44C32 99.42%);
}

.button--squire .button__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.button--squire:hover {
  background-color: #D44C32;
}

.button--squire:hover .button__overlay {
  background: rgba(255, 255, 255, 0);
}

@-webkit-keyframes MoreButtonLoading {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes MoreButtonLoading {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

html[lang="hy-AM"] .banner__heading {
  font-family: "ArTarumianHeghnar";
}

html[lang="en-US"] .banner__heading {
  font-family: "DancingScript-Regular";
}

.banner {
  height: 270px;
  position: relative;
}

@media screen and (min-width: 576px) {
  .banner {
    height: 370px;
  }
}

.banner__thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  position: absolute;
  padding-bottom: 30px;
  color: white;
}

@media screen and (min-width: 576px) {
  .banner__content {
    padding-bottom: 70px;
  }
}

.banner__content .content__wrapper {
  max-width: 100%;
  max-height: 100%;
}

.banner__heading {
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .banner__heading {
    font-size: 30px;
    line-height: 33px;
  }
}

@media screen and (min-width: 768px) {
  .banner__heading {
    font-size: 45px;
    line-height: 48px;
  }
}

@media screen and (min-width: 992px) {
  .banner__heading {
    font-size: 50px;
    line-height: 53px;
  }
}

.banner__breadcrumbs {
  margin-top: 20px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ECDEED;
}

@media screen and (min-width: 576px) {
  .banner__breadcrumbs {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 768px) {
  .banner__breadcrumbs {
    font-size: 16px;
    line-height: 19px;
  }
}

.banner__breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner__breadcrumbs ul li {
  padding: 0 5px;
}

.banner__breadcrumbs ul li:not(:last-child)::after {
  content: '/';
  margin-left: 10px;
}

.banner__breadcrumbs ul li a {
  color: #ECDEED;
}

.banner__breadcrumbs ul li a:hover {
  color: white;
  text-decoration: underline;
}

.banner__breadcrumbs ul li:last-child a {
  pointer-events: none;
  text-decoration: none;
  color: #B69DB8;
  cursor: default;
}

.banner--thin {
  height: 97px;
}

.banner--thin .banner__heading {
  display: none;
}

.banner--thin .banner__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0;
}

.banner--thin .banner__breadcrumbs {
  margin-top: 0;
}

.person {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.person:hover {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.person__thumbnail {
  height: 250px;
  background-color: #F9F9F9;
}

.person__thumbnail img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.person:not(.person--noimage)__thumbnail img:not(.lazy) {
  width: 100%;
  height: 100%;
}

.person--noimage .person__thumbnail img {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.person__name {
  padding: 15px;
}

.person__title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  font-weight: normal;
}

html[lang="hy-AM"] .gitem__duration {
  font-family: "DejaVu Sans Light";
}

html[lang="hy-AM"] .gitem__date {
  font-family: "DejaVu Sans Light";
}

html[lang="en-US"] .gitem__duration {
  font-family: "OpenSansCondensedBold";
}

html[lang="en-US"] .gitem__date {
  font-family: "OpenSansCondensedBold";
}

.gallery {
  width: 100%;
  display: grid;
  grid-gap: 6px;
  grid-auto-rows: minmax(200px, 75vh);
  grid-template-columns: repeat(auto-fit, calc(50% - 4px));
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, calc(100% / 3 - 4px));
  }
}

.gallery--photo {
  grid-auto-flow: dense;
  grid-auto-rows: 150px;
}

@media screen and (min-width: 768px) {
  .gallery--photo {
    grid-auto-rows: 200px;
  }
}

.gallery--video {
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, 100%);
}

@media screen and (min-width: 768px) {
  .gallery--video {
    grid-auto-rows: 325px;
    grid-template-columns: repeat(auto-fit, calc(50% - 4px));
  }
}

@media screen and (min-width: 1200px) {
  .gallery--video {
    grid-template-columns: repeat(auto-fit, calc(100% / 3 - 4px));
  }
}

.gallery--video .gallery__item--big {
  grid-column: span 1;
}

@media screen and (min-width: 768px) {
  .gallery--video .gallery__item--big {
    grid-column: span 2;
  }
}

.gallery__item--big {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery__item--vertical {
  grid-row: span 2;
}

.gallery__item--horizontal {
  grid-column: span 2;
}

.gallery__item {
  overflow: hidden;
}

a.gitem {
  color: inherit;
}

.gitem {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
}

.gitem--video, .gitem--category {
  padding: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.gitem--video:hover, .gitem--category:hover {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.gitem--video .gitem__thumbnail, .gitem--category .gitem__thumbnail {
  position: relative;
  display: block;
  overflow: hidden;
  color: inherit;
}

.gitem--video .gitem__thumbnail iframe, .gitem--category .gitem__thumbnail iframe {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.gitem--video .gitem__thumbnail .thumbnail__group, .gitem--category .gitem__thumbnail .thumbnail__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1px;
  margin-right: -1px;
}

.gitem--video .gitem__thumbnail .thumbnail__group .group__item, .gitem--category .gitem__thumbnail .thumbnail__group .group__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
  height: 100px;
  padding-left: 1px;
  padding-right: 1px;
}

.gitem--video .gitem__thumbnail .thumbnail__group .group__item:nth-child(1), .gitem--category .gitem__thumbnail .thumbnail__group .group__item:nth-child(1) {
  margin-bottom: 2px;
}

.gitem--video .gitem__thumbnail .thumbnail__group .group__item:nth-child(3), .gitem--video .gitem__thumbnail .thumbnail__group .group__item:nth-child(4), .gitem--category .gitem__thumbnail .thumbnail__group .group__item:nth-child(3), .gitem--category .gitem__thumbnail .thumbnail__group .group__item:nth-child(4) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
}

.gitem--video .gitem__name a, .gitem--category .gitem__name a {
  color: black;
  text-decoration: none;
}

.gitem--video .svg--play, .gitem--category .svg--play {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  color: inherit;
}

.gitem__video a {
  color: inherit;
}

.gitem__video .gitem__thumbnail {
  max-height: calc(100vh - 80px);
  margin-bottom: -1px;
}

.gitem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.gitem__overlay {
  top: -100%;
  opacity: 0;
  overflow: hidden;
}

.gitem__duration {
  right: 10px;
  bottom: 10px;
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #111111;
  color: white;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
}

.gitem:hover .gitem__overlay {
  top: 0;
  opacity: 1;
}

.gitem__zoom {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  color: white;
}

.gitem__meta {
  left: 0;
  bottom: -100%;
  position: absolute;
  padding: 15px 10px;
  -webkit-transition: bottom .3s;
  -o-transition: bottom .3s;
  transition: bottom .3s;
}

.gitem:hover .gitem__meta {
  bottom: 0;
}

.gitem__name {
  margin: 15px 0 0 0;
  color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
}

@media screen and (min-width: 576px) {
  .gitem__name {
    font-size: 18px;
    line-height: 21px;
  }
}

.gitem--video .gitem__name {
  color: black;
}

.gitem__excerpt {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.gitem__date {
  display: block;
  margin-top: 10px;
  color: inherit;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
}

.gpreview {
  position: relative;
  display: block;
  overflow: hidden;
}

.gpreview__overlay {
  top: -100%;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.gpreview__overlay .svg {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: inherit;
}

.gpreview__overlay .svg--play {
  width: 145px;
  height: 145px;
}

.gpreview:hover .gpreview__overlay {
  top: 0;
  opacity: 1;
}

.gpreview__title {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
}

.gpreview__excerpt {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 1px solid;
  overflow: hidden;
  color: white;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.gpreview__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  Object-position: center;
}

.mission {
  overflow: hidden;
}

.mission--placeholder {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/placeholder.jpg);
}

.mission__thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 290px;
  flex: 0 0 290px;
  overflow: hidden;
  -webkit-transition: -webkit-box-flex .3s, -webkit-transform .3s;
  transition: -webkit-box-flex .3s, -webkit-transform .3s;
  -o-transition: flex .3s, transform .3s;
  transition: flex .3s, transform .3s;
  transition: flex .3s, transform .3s, -webkit-box-flex .3s, -ms-flex .3s, -webkit-transform .3s;
}

.mission__thumbnail img {
  width: 100%;
  height: 290px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.mission__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 170px;
  padding: 30px 20px;
  background-color: #ECDEED;
  -webkit-transition: height .3s, background-color .3s;
  -o-transition: height .3s, background-color .3s;
  transition: height .3s, background-color .3s;
}

.mission__index {
  z-index: 1;
  left: 50%;
  top: -30px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ECDEED;
  font-size: 30px;
  line-height: 31px;
  color: #B355AD;
  font-family: "ArTarumianAnpuit";
  -webkit-transition: width .3s, height .3s, background-color .3s,  top .3s;
  -o-transition: width .3s, height .3s, background-color .3s,  top .3s;
  transition: width .3s, height .3s, background-color .3s,  top .3s;
}

.mission__title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #222222;
}

.mission:hover .mission__index {
  top: -43px;
  width: 86px;
  height: 86px;
  background-color: #B355AD;
  color: white;
  font-size: 40px;
}

.mission:hover .mission__content {
  color: white;
  background-color: #B355AD;
}

.mission:hover .mission__title {
  color: white;
}

.mission:hover .mission__thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  -webkit-transform: scale(1.2) rotate(-8deg);
  -ms-transform: scale(1.2) rotate(-8deg);
  transform: scale(1.2) rotate(-8deg);
}

html[lang="hy-AM"] .structure .row--items a {
  font-family: "Arial AMU";
}

.structure {
  overflow: hidden;
  background-color: #F9F9F9;
}

.structure__thumbnail {
  display: none;
  position: relative;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .structure__thumbnail {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 222px;
    flex: 0 0 222px;
  }
}

@media screen and (min-width: 1200px) {
  .structure__thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 372px;
    flex: 0 0 372px;
  }
}

.structure__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center left;
  object-position: center left;
  -webkit-transition: -webkit-box-flex .5s;
  transition: -webkit-box-flex .5s;
  -o-transition: flex .5s;
  transition: flex .5s;
  transition: flex .5s, -webkit-box-flex .5s, -ms-flex .5s;
}

.structure--alt .structure__thumbnail img {
  -o-object-position: center right;
  object-position: center right;
}

.structure__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 100%;
  min-height: 272px;
  background: -o-linear-gradient(162.29deg, #B355AD 0%, #D44C32 100%);
  background: linear-gradient(287.71deg, #B355AD 0%, #D44C32 100%);
}

@media screen and (min-width: 576px) {
  .structure__content {
    padding: 30px;
  }
}

@media screen and (min-width: 992px) {
  .structure__content {
    padding: 30px 30px 30px 100px;
    margin-left: -84px;
    -webkit-clip-path: polygon(84px 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(84px 0, 100% 0, 100% 100%, 0 100%);
  }
}

.structure--alt .structure__content {
  margin-left: 0;
  margin-right: -84px;
  padding: 30px 100px 30px 30px;
  -webkit-clip-path: polygon(0 0, 100% 0%, calc(100% - 83px) 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, calc(100% - 83px) 100%, 0% 100%);
}

.structure:hover .structure__content {
  background: -o-linear-gradient(162.29deg, #B355AD 100%, #D44C32 100%);
  background: linear-gradient(287.71deg, #B355AD 100%, #D44C32 100%);
}

.structure__title {
  color: white;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (min-width: 576px) {
  .structure__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .structure__title {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (min-width: 992px) {
  .structure__title {
    font-size: 28px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .structure__title {
    font-size: 35px;
    line-height: 46px;
  }
}

.structure__title a {
  color: inherit;
  text-decoration: none;
}

.structure .row--items {
  overflow: hidden;
  -webkit-transition: max-height .75s;
  -o-transition: max-height .75s;
  transition: max-height .75s;
}

.structure .row--items a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-bottom: 1px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #ECDEED;
}

@media screen and (min-width: 576px) {
  .structure .row--items a {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .structure .row--items a {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .structure .row--items a {
    font-size: 20px;
  }
}

.structure .row--items a::before {
  content: '›';
  margin-right: 5px;
}

.structure .row--items a::after {
  left: 0;
  bottom: -1px;
  position: absolute;
  content: ' ';
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: block;
  height: 1px;
  width: 100%;
  max-width: 0;
  margin-left: 12px;
  background-color: transparent;
  -webkit-transition: max-width .5s;
  -o-transition: max-width .5s;
  transition: max-width .5s;
}

.structure .row--items a:hover {
  color: white;
}

.structure .row--items a:hover::after {
  max-width: calc(100% - 12px);
  background-color: white;
}

@media screen and (min-width: 991px) {
  .structure--ready .row--items {
    max-height: 0 !important;
  }
}

.structure--ready:hover .row--items {
  max-height: 100% !important;
}

html[lang="hy-AM"] blockquote.blockquote {
  font-family: "ArTarumianAnpuit";
}

html[lang="en-US"] blockquote.blockquote {
  font-family: "Long-Cang";
}

blockquote.blockquote {
  position: relative;
  margin: 0;
  padding: 10px 10px 13px 10px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 1px 1px 4px rgba(196, 194, 194, 0.25);
  box-shadow: 1px 1px 4px rgba(196, 194, 194, 0.25);
  color: black;
  font-size: 20px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 992px) {
  blockquote.blockquote {
    font-size: 22px;
    line-height: 23px;
  }
}

@media screen and (min-width: 1200px) {
  blockquote.blockquote {
    font-size: 30px;
    line-height: 31px;
  }
}

blockquote.blockquote::before {
  content: '';
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33.3%, #F0030C), color-stop(33.3%, #0333CA), color-stop(66.6%, #0333CA), color-stop(66.6%, #FF6504));
  background: -o-linear-gradient(top, #F0030C 33.3%, #0333CA 33.3%, #0333CA 66.6%, #FF6504 66.6%);
  background: linear-gradient(-180deg, #F0030C 33.3%, #0333CA 33.3%, #0333CA 66.6%, #FF6504 66.6%);
}

html[lang="hy-AM"] section.section--navigation {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] section.section--navigation {
  font-family: "OpenSansCondensedBold";
}

section.section--navigation {
  background-color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

section.section--navigation .navigation__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #B69DB8;
}

section.section--navigation .navigation__link--center {
  text-align: center;
}

section.section--navigation .navigation__link.active {
  color: #B355AD;
}

section.section--navigation .navigation__link.active .link__text {
  text-decoration: underline;
}

section.section--navigation .navigation__link:hover {
  color: #B355AD;
}

section.section--navigation .navigation__link .link__before {
  margin-right: 5px;
}

html[lang="hy-AM"] .vote__result .result__text {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] .vote__result .result__text {
  font-family: "OpenSansCondensedBold";
}

.vote {
  position: relative;
  background-color: white;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.vote:hover {
  -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.vote__thumbnail {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.vote__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.vote__content {
  padding: 10px 10px 10px 0;
}

.vote__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
}

@media screen and (min-width: 576px) {
  .vote__title {
    font-size: 18px;
    line-height: 21px;
  }
}

.vote__title a {
  color: inherit;
  text-decoration: none;
}

.vote__excerpt {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  color: #555;
}

@media screen and (min-width: 576px) {
  .vote__excerpt {
    font-size: 16px;
    line-height: 18px;
  }
}

.vote__result {
  margin-top: 10px;
}

.vote__result .result__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.vote__result .result__bar {
  height: 8px;
}

.vote__result .result__bar .bar__pros {
  background-color: #00AC45;
  border-radius: 10px 0 0 10px;
}

.vote__result .result__bar .bar__cons {
  background-color: #F0030C;
  border-radius: 0 10px 10px 0;
}

html[lang="hy-AM"] .highlighted {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] .highlighted {
  font-family: "OpenSansCondensedBold";
}

.highlighted {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  height: 150px;
}

@media screen and (min-width: 576px) {
  .highlighted {
    font-size: 16px;
    line-height: 19px;
  }
}

.highlighted .overlay {
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

.highlighted:hover .overlay {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.highlighted a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 15px;
  z-index: 30;
  color: #ECDEED;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.separator * {
  background-color: #D44C32;
}

.separator__line {
  width: 100%;
  height: 3px;
}

.separator__circle {
  min-width: 20px;
  height: 20px;
  margin: 0 20px;
  border-radius: 50%;
}

html[lang="hy-AM"] section.section--about-us .slogan p {
  font-family: "ArTarumianHeghnar";
}

html[lang="hy-AM"] section.section--donate form.donate .donate__description .description__promise {
  font-family: "ArTarumianHeghnar";
}

html[lang="en-US"] section.section--about-us .slogan p {
  font-family: "DancingScript-Regular";
}

html[lang="en-US"] section.section--donate form.donate .donate__description .description__promise {
  font-family: "DancingScript-Regular";
}

section.section--about-us p {
  color: #444444;
  font-size: 15px;
  line-height: 17px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  section.section--about-us p {
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (min-width: 1200px) {
  section.section--about-us p {
    font-size: 20px;
    line-height: 23px;
  }
}

section.section--about-us .slogan {
  position: relative;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/slogan/background.jpg);
  margin-top: 30px;
  padding: 80px 0;
}

section.section--about-us .slogan img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  section.section--about-us .slogan img {
    width: 200px;
  }
}

section.section--about-us .slogan p {
  position: relative;
  z-index: 15;
  text-transform: capitalize;
  color: #fff;
  font-size: 25px;
  line-height: 27px;
}

@media screen and (min-width: 768px) {
  section.section--about-us .slogan p {
    font-size: 30px;
    line-height: 32px;
  }
}

@media screen and (min-width: 992px) {
  section.section--about-us .slogan p {
    font-size: 35px;
    line-height: 37px;
  }
}

@media screen and (min-width: 1200px) {
  section.section--about-us .slogan p {
    font-size: 40px;
    line-height: 43px;
  }
}

section.section--our-activity {
  background-color: #fff;
}

section.section--our-activity .wrapper--post:not(:last-child) {
  margin-bottom: 12px;
}

section.section--our-activity .post--default {
  padding-left: 6px;
  padding-right: 6px;
}

@media screen and (min-width: 1200px) {
  section.section--our-activity .post--default {
    padding-left: 0;
    padding-right: 0;
  }
}

section.section--our-activity .post--default .post__thumbnail {
  max-height: 168px;
}

@media screen and (min-width: 768px) {
  section.section--our-activity .post--default .post__thumbnail {
    max-height: 194px;
  }
}

section.section--gallery {
  background-color: #020202;
}

section.section--gallery .gallery-grid,
section.section--gallery .section__heading > span {
  color: #fff;
}

section.section--gallery .gallery-grid .col--gallery,
section.section--gallery .section__heading > span .col--gallery {
  max-height: 600px;
}

section.section--gallery .gallery-grid .col--gallery-item,
section.section--gallery .section__heading > span .col--gallery-item {
  margin-bottom: 12px;
}

section.section--gallery .gallery-grid .gpreview--video,
section.section--gallery .section__heading > span .gpreview--video {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

section.section--latest-news {
  background-color: #fff !important;
}

section.section--latest-news .row--categories {
  display: none;
}

@media screen and (min-width: 1200px) {
  section.section--latest-news .row--categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

section.section--latest-news .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

section.section--latest-news .group .group__ellipse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

section.section--latest-news .group .group__ellipse.pink {
  background-color: #FD10D7;
}

section.section--latest-news .group .group__ellipse.lightblue {
  background-color: #10E0FD;
}

section.section--latest-news .group .group__ellipse.darkblue {
  background-color: #4D10FD;
}

section.section--latest-news .group .group__ellipse.green {
  background-color: #00AC45;
}

section.section--latest-news .group .group__title {
  color: #555555;
  margin-left: 5px;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 18px;
}

section.section--donate {
  background-image: url("../img/donate/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.section--donate .section__heading span {
  color: white;
}

section.section--donate form.donate {
  color: white;
  background: rgba(0, 188, 53, 0.25);
  max-width: 600px;
  width: 100%;
  padding: 50px 15px;
}

section.section--donate form.donate .donate__description .description__promise {
  font-size: 25px;
  line-height: 27px;
}

section.section--donate form.donate .donate__description .description__info {
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
}

section.section--donate form.donate .donate__prices {
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  section.section--donate form.donate .donate__prices .col--radio {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%);
    margin-top: 5px;
  }
  section.section--donate form.donate .donate__prices .col--radio .radio__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  section.section--donate form.donate .donate__prices .col--input {
    margin-top: 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

section.section--donate form.donate .donate__prices .radio {
  width: 100%;
  padding-right: 1px;
}

section.section--donate form.donate .donate__prices .radio__wrapper {
  background: #D44C32;
}

section.section--donate form.donate .donate__prices .prices__input {
  position: relative;
  width: 100%;
  height: 100%;
}

section.section--donate form.donate .donate__prices .prices__input > input {
  width: 100%;
  height: 100%;
  border: 1px solid #c4c4c4;
  padding: 10px 30px 10px 10px;
  text-align: center;
  outline: none;
}

section.section--donate form.donate .donate__prices .prices__input .currency {
  position: absolute;
  color: #c4c4c4;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.section--donate form.donate .donate__submit {
  margin-top: 35px;
}

section.section--donate form.donate .donate__submit .submit__cards img + img {
  margin-left: 2px;
}

section.section--donate form.donate .donate__submit .submit__button {
  height: 40px;
  width: 100%;
  max-width: 130px;
  font-size: 14px;
  color: #fff;
  background-color: #D44C32;
  border: 1px solid #D44C32;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .25s;
  -o-transition: background .25s;
  transition: background .25s;
}

@media screen and (min-width: 576px) {
  section.section--donate form.donate .donate__submit .submit__button {
    max-width: 170px;
    font-size: 16px;
  }
}

section.section--donate form.donate .donate__submit .submit__button:hover {
  background-color: #ae3b25;
  border: #ae3b25;
}

.section--biography .biography__article img {
  display: block;
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 768px) {
  .section--biography .biography__article img {
    float: left;
    margin: 0 15px 15px 0;
  }
}

.section--biography .biography__article p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (min-width: 992px) {
  .section--biography .biography__article p {
    font-size: 20px;
    line-height: 23px;
  }
}

section.section--structure .structure {
  margin-bottom: 30px;
}

html[lang="hy-AM"] section.section--structure-single article {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] section.section--structure-single article {
  font-family: "OpenSansCondensedBold";
}

section.section--structure-single article {
  font-size: 16px;
  line-height: 19px;
}

section.section--team-list .row.row--list .button.button--squire-alt {
  background-size: 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section.section--team-list .row.row--list div:nth-child(1) .button.button--squire-alt {
  background-position: 0% 0;
}

section.section--team-list .row.row--list div:nth-child(2) .button.button--squire-alt {
  background-position: 25% 0;
}

section.section--team-list .row.row--list div:nth-child(3) .button.button--squire-alt {
  background-position: 50% 0;
}

section.section--team-list .row.row--list div:nth-child(4) .button.button--squire-alt {
  background-position: 75% 0;
}

@media screen and (max-width: 475px) {
  section.section--team-list .button--squire {
    min-height: 150px;
    font-size: 30px;
  }
}

@media screen and (max-width: 475px) {
  .section.section--activities .post.post--thumbnail .post__content {
    padding: 10px;
  }
  .section.section--activities .post.post--thumbnail .post__thumbnail {
    height: 200px;
  }
  .section.section--activities .post.post--thumbnail:hover .post__hidden {
    max-height: 0 !important;
  }
  .section.section--activities .button--squire {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .section.section--activities .row > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

html[lang="hy-AM"] section.section--party article {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] section.section--party article {
  font-family: "OpenSansCondensedBold";
}

section.section--party article {
  color: #222222;
}

section.section--party article .article__info {
  font-size: 1.25rem;
  color: #D44C32;
  margin-top: 30px;
}

section.section--party-links {
  background-color: #fff;
}

section.section--party-links .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  section.section--party-links .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

section.section--party-links .button {
  max-width: 276px;
  width: 100%;
  background: -o-linear-gradient(4.94deg, #B355AD 0%, #D44C32 100%);
  background: linear-gradient(85.06deg, #B355AD 0%, #D44C32 100%);
  margin-bottom: 10px;
  padding-left: 15px;
}

html[lang="hy-AM"] article {
  font-family: "DejaVu Sans";
}

html[lang="hy-AM"] section.section--contact-voting .button--vote {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] article {
  font-family: "OpenSansCondensedBold";
}

html[lang="en-US"] section.section--contact-voting .button--vote {
  font-family: "OpenSansCondensedBold";
}

article {
  color: #222222;
}

section.section--contact-voting {
  background-color: #fff;
}

section.section--contact-voting .button--vote {
  font-size: 12px;
  line-height: 14px;
  min-width: 84px;
  height: 84px;
  border-radius: 50%;
}

section.section--contact-voting .button--vote:hover {
  border: none;
}

section.section--contact-voting .button--pros {
  color: #00AC45;
  background: rgba(0, 172, 69, 0.2);
}

section.section--contact-voting .button--pros:hover {
  background: rgba(0, 172, 69, 0.4);
}

section.section--contact-voting .button--cons {
  color: #F0030C;
  background: rgba(240, 3, 12, 0.2);
}

section.section--contact-voting .button--cons:hover {
  background: rgba(240, 3, 12, 0.4);
}

section.section--contact-voting .voting-bar {
  height: 20px;
  margin: 0 15px;
}

section.section--contact-voting .voting-bar .bar__pros {
  background: #00AC45;
  border-radius: 10px 0 0 10px;
}

section.section--contact-voting .voting-bar .bar__cons {
  background: #F0030C;
  border-radius: 0 10px 10px 0;
}

section.section--advertising {
  padding: 25px 0;
}

@media screen and (min-width: 576px) {
  section.section--advertising {
    padding: 45px 0;
  }
}

section.section--content .col--main {
  padding: 0;
}

section.section--blog-white {
  position: relative;
}

section.section--blog-white::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}

section.section--blog-white * {
  z-index: 2;
}

section.section--blog-news {
  background-color: inherit;
}

html[lang="hy-AM"] section.section--heading .heading .heading__info {
  font-family: "DejaVu Sans";
}

html[lang="hy-AM"] section.section--article article {
  font-family: "DejaVu Sans";
}

html[lang="en-US"] section.section--heading .heading .heading__info {
  font-family: "OpenSansCondensedBold";
}

html[lang="en-US"] section.section--article article {
  font-family: "OpenSansCondensedBold";
}

@media screen and (max-width: 768px) {
  section.section--heading {
    padding: 15px 0;
  }
}

section.section--heading .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  section.section--heading .heading {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

section.section--heading .heading .heading__thumbnail {
  max-width: 372px;
  width: 100%;
}

section.section--heading .heading .heading__thumbnail img {
  width: 100%;
}

section.section--heading .heading .heading__info {
  padding: 0;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  section.section--heading .heading .heading__info {
    padding-left: 15px;
    margin-top: 0;
  }
}

section.section--heading .heading .heading__info .info__heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (min-width: 576px) {
  section.section--heading .heading .heading__info .info__heading {
    font-size: 25px;
    line-height: 29px;
  }
}

section.section--heading .heading .heading__info .info__date {
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #D44C32;
  margin-top: 25px;
}

section.section--heading .heading .heading__info .info__social {
  margin-top: 25px;
}

section.section--heading .heading .heading__info .info__social .social__icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  section.section--article {
    padding: 15px 0;
  }
}

section.section--article article {
  color: #222222;
}

html[lang="hy-AM"] section.section--gallery-categories .heading ul.nav .nav-link {
  font-family: "Arial AMU";
}

@media screen and (max-width: 768px) {
  section.section--gallery-categories {
    padding-bottom: 0;
  }
}

section.section--gallery-categories .heading {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  section.section--gallery-categories .heading {
    font-size: 20px;
    line-height: 23px;
  }
}

section.section--gallery-categories .heading ul.nav {
  border-bottom: 2px solid #CFCFCF;
}

section.section--gallery-categories .heading ul.nav .nav-item + .nav-item {
  margin-left: 30px;
}

section.section--gallery-categories .heading ul.nav .nav-link {
  color: #CFCFCF;
  padding: 0 0 5px 0;
}

section.section--gallery-categories .heading ul.nav .nav-link:hover {
  color: #B355AD;
}

section.section--gallery-categories .heading ul.nav .nav-link.active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #B355AD;
}

section.section--gallery-categories .heading ul.nav .nav-link.active::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  margin-bottom: -2px;
  background-color: #B355AD;
}

/*# sourceMappingURL=style.css.map */
