@font-face {
  font-family: 'Long-Cang';
  src: local('Long-Cang'), local('Long-Cang'),
      url('../fonts/Long-Cang/LongCang-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}