@font-face {
  font-family: 'DancingScript-Regular';
  src: local('DancingScript-Regular'), local('DancingScript-Regular'),
      url('../fonts/Dancing/DancingScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Medium';
  src: local('DancingScript-Medium'), local('DancingScript-Medium'),
      url('../fonts/Dancing/DancingScript-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Bold';
  src: local('DancingScript-Bold'), local('DancingScript-Bold'),
      url('../fonts/Dancing/DancingScript-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-SemiBold';
  src: local('DancingScript-SemiBold'), local('DancingScript-SemiBold'),
      url('../fonts/Dancing/DancingScript-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-VariableFont_wght';
  src: local('DancingScript-VariableFont_wght'), local('DancingScript-VariableFont_wght'),
      url('../fonts/Dancing/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}