@font-face {
    font-family: 'DejaVu Sans Mono';
    src: local('DejaVu-Sans'), local('DejaVu-Sans'),
        url('../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono Italic';
    src: local('DejaVu-Sans-Italic'), local('DejaVu-Sans-Italic'),
        url('../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Regular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono Bold';
    src: local('DejaVu-Sans-Bold'), local('DejaVu-Sans-Bold'),
        url('../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono Bold Italic';
    src: local('DejaVu-Sans-Bold-Italic'), local('DejaVu-Sans-Bold-Italic'),
        url('../fonts/DejaVu-Sans-Mono/DejaVu-Sans-Mono-Bold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}