@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu-Sans'), local('DejaVu-Sans'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Italic';
    src: local('DejaVu-Sans-Italic'), local('DejaVu-Sans-Italic'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Regular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Bold';
    src: local('DejaVu-Sans-Bold'), local('DejaVu-Sans-Bold'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Bold Italic';
    src: local('DejaVu-Sans-Bold-Italic'), local('DejaVu-Sans-Bold-Italic'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Bold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Light';
    src: local('DejaVu-Sans-Light-ExtraLight'), local('DejaVu-Sans-Light-ExtraLight'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Light-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: local('DejaVu-Sans-Condensed-Regular'), local('DejaVu-Sans-Condensed-Regular'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Condensed Italic';
    src: local('DejaVu-Sans-Condensed-Regular-Italic'), local('DejaVu-Sans-Condensed-Regular-Italic'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Regular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DejaVu Sans Condensed Bold';
    src: local('DejaVu-Sans-Condensed-Bold'), local('DejaVu-Sans-Condensed-Bold'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Condensed Bold Italic';
    src: local('DejaVu-Sans-Condensed-Bold-Italic'), local('DejaVu-Sans-Condensed-Bold-Italic'),
        url('../fonts/DejaVu-Sans/DejaVu-Sans-Condensed-Bold-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}