@font-face {
  font-family: 'Arial AMU';
  src: local('Arial AMU'), local('Arial AMU'),
      url('../fonts/Arial-AMU/Arial-AMU-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}